<h1> Add a new item </h1>

<form action="/make_a_new_item" method="post">
<div>
<label for="a">Link URL</label>
<input id="a" type="text" name="link_url_param">
</div>

<div>
<label for="b">Link Description</label>
<input id="b" type="text" name="link_description_param">
</div>

<div>
<label for="c">Thumbnail URL</label>
<input id="c" type="text" name="thumbnail_url_param">
</div>

<button>Create item</buttom>

</form>
